footer {
  color: map-get($color-text, text-6);
  text-shadow: map-get($sombras, sombraText-1);
  background: map-get($fondos, fondo-5);
  box-shadow: map-get($sombras, sombraBox-3);
  .container__redes {
    &--icono {
      display: inline-flex;
      .icon {
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover {
          .tooltip {
            color: #fff;
            top: -70px;
            opacity: 1;
            pointer-events: auto;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
          }
          span {
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
            i {
              color: #fff;
            }
          }
        }
        .tooltip {
          position: absolute;
          top: 0px;
          background: #fff;
          color: #fff;
          font-size: 20px;
          padding: 10px 18px;
          border-radius: 25px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          opacity: 0;
          pointer-events: none;
          transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          &::before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            background: #fff;
            bottom: -8px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
        }
        span {
          position: relative;
          height: 45px;
          width: 45px;
          display: block;
          background: #fff;
          border-radius: 50%;
          text-align: center;
          z-index: 2;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          i {
            font-size: 25px;
          }
        }
      }

      .instagram:hover {
        .tooltip {
          background: #e1306c;
          &::before {
            background: #e1306c;
          }
        }
        span {
          background: #e1306c;
        }
      }
      .facebook:hover {
        .tooltip {
          background: #3b5999;
          &::before {
            background: #3b5999;
          }
        }
        span {
          background: #3b5999;
        }
      }
      .email:hover{
        .tooltip{
          background: #de463b;
          &::before{
            background: #de463b;
          }
        }
        span{
          background: #de463b;
        }
      }
      /*.link {
        color: map-get($color-text, text-4);}*/
    }
  }
  .container__autor {
    &--name {
      .link__autor {
        text-decoration: none;
        font-style: oblique;
        color: map-get($color-text, text-4);
      }
    }
  }
}
