.home {
  background: map-get($fondos, degrade1);

  &__portada {
    &--container {
      .portada__container {
        &--img {
          height: 500px;
        }
        &--info {
          font-style: oblique;
          color: map-get($color-text, text-1);
          text-shadow: map-get($sombras, sombraText-3);
          &-title {
            font-size: 1.5rem;
          }
          &-text {
            font-size: 3rem;
          }
        }
      }
    }
  }
  &__service {
    &--articulo {
      &-card {
        align-items: center;
        background: none;
        color: map-get($color-text, text-1);
        .card__img {
          width: 250px;
          height: 250px;
          border-radius: 100%;
          border: map-get($bordes, borde-3);
        }
        .card__info {
          @include flex-col-center;
          &--line {
            height: 3px;
            width: 40%;
            margin: 25px 0;
            background: map-get($color-text, text-2);
          }
          &--title {
            font-size: 2rem;
            text-shadow: map-get($sombras, sombraText-3);
          }
        }
      }
    }
  }
}
