header {
  nav {
    a {
      .navBar__logo {
        border-radius: 100%;
      }
    }
  }
  div {
    ul {
      li {
        a {
          text-shadow: map-get($sombras, sombraText-1);
          &:hover {
            text-shadow: map-get($sombras, sombraText-3);
          }
        }
      }
    }
  }
}
