.watsap {
    .btn-wsp{
        z-index: 100;
        width: 55px;
        height: 55px;
        bottom: 180px;
        right: 0px;
        font-size: 30px;
        font-weight: 600;
        line-height: 55px;
        border-radius: 50px;
        position: fixed;
        text-align: center;
        color: map-get($color-text , text-4 );
        background: map-get($fondos , fondo-6);
        text-shadow: map-get($sombras, sombraText-1 );
        box-shadow: map-get($sombras , sombraBox-7 );
        &:hover {
            text-decoration: none;
            color: map-get($color-text , text-2 );
            text-shadow: map-get($sombras, sombraText-1 );
            background: map-get($fondos , fondo-4 ); 
        }
    }
}